.categories_container {
    width: 374px;
    padding: 32px;
    background-color: aquamarine;
    border: 1px solid #C7C9CD;
    border-radius: 8px;
}

.categories_island {
        
    background: #ffffff;
    padding: 23px 36px;
    border: 1px solid #C7C9CD;
    display: flex;
    border-radius: 8px;
  
    a {
      display: inline-block;
      color: #202020;
      margin-right: 12px;
      margin-bottom: 12px;
    }
  }
 